<div class='row'>
<div class='col-xs-12 col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2'>
  <form #f='ngForm' (ngSubmit)='onAddIngredients(f)'>
  <div class='form-group'>
    <label for='name'>Name</label>
    <input type='text' ngModel name='name' class='form-control' required/>
  </div>
  <div class='form-group'>
     <label for='amount'>Amount</label>
     <input type='number' ngModel name='amount' class='form-control' required [pattern]="'^[1-9]+[0-9]*$'"/>
  </div>
  <div class='btn-toolbar'>
  <button type="submit" class='btn btn-success' [disabled]='!f.valid'>{{edititem?'Update':'Add'}}</button>
  <button type="button" class='btn btn-danger'>Delete</button>
  <button type="button" class='btn btn-primary'>Clear</button>
  </div>
   </form>
</div>
</div>
 